
.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	background-color: #007FFF;
    color: #FFFFFF;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
	background-color: #007FFF;
    color: #FFFFFF;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}

.leaflet-popup-content h1 { font-size: large; padding: 0px; border-bottom: solid 1px #007FFF; margin: 0px; margin-bottom: 0.5em; }	
.leaflet-container a.btn-primary { color: #FFFFFF !important; }

ul.map-options { width: 100%; height: 100%; border: 0px; margin: 0px; padding: 0px; }
ul.map-options li { list-style: none; margin: none; padding: none; }
ul.map-options li a.selected .glyphicon-ok:before { content: "\2713" !important; }
ul.map-options li a:not(.selected) .glyphicon-ok:before { content: "" !important; }